/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-family: 'Indie Flower', cursive;
}

#testoAlternato {
    padding: 3rem;
    border: 1px solid black;
    margin: 3rem;
    overflow: hidden;
    position: relative;
}

.parole i {
    color: #6A889C;
    position: absolute;
    animation: substitute 4s both;
    z-index: 1;
}

.parole i:nth-of-type(2) {
    animation-delay: 3s;
}

.parole i:nth-of-type(3) {
    animation-delay: 6s;
}

@keyframes substitute {
    from {
        /* translate: y -1000px; */
        transform: translateY(-100px);
        opacity: 0%;
    }

    35%,
    65% {
        transform: translateY(0);
        opacity: 100%;
    }

    /* 50% {
        transform: translateY(0);
    } */

    to {
        transform: translateY(100px);
        opacity: 0%;
        /* translate: y 1000px; */
    }
}